@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #00ff00;
    background-color: black;
    color: white;
}